.Weather {
  border: 1px solid #d9dce0;
  padding: 15px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4pxç;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  color: #7c8185;
  font-weight: 100;
  height: 18px;
  margin-bottom: 23px;
  margin-top: 23px;
}

.Weather li {
  list-style: none;
  font-weight: 100;
  line-height: 19px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  padding-left: 0;
}
