.WeatherForecast {
  font-size: 12px;
  text-align: center;
  margin: 10px;
  border-top: 1px solid #e9b2bc;
}

.temperature-max {
  font-weight: bold;
}

.forecast-icon {
  margin-top: 6px;
  margin-bottom: 6px;
}

.forecast-day {
  margin-top: 20px;
}

.forecast-days {
  border: 1px solid #e9b2bc;
  margin-top: 20px;
  border-radius: 7px;
  padding: 2px;
}

.day-summary {
  margin-bottom: 10px;
  border: 1px solid #e9b2bc;
  padding: 20px;
  border-radius: 7px;
}
