.Weather {
  border: 1px solid #e9b2bc;
  border-radius: 5px;
  padding: 22px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4pxç;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  color: hsl(207, 4%, 50%);
  font-weight: 300;
  margin-bottom: 23px;
  margin-top: 10px;
}

.Weather li {
  list-style: none;
  font-weight: 100;
  line-height: 19px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  padding-left: 0;
}

.Weather .temperature {
  font-size: 70px;
  line-height: 80px;
}

.Weather img {
  display: inline-block;
  line-height: 64px;
  height: 80px;
  width: 80px;
  vertical-align: top;
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -34px;
  margin-left: 3px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.weather-details {
  color: #e9b2bc;
  font-weight: 300;
}

#s-button {
  background-color: #e9b2bc;
  border-color: #e9b2bc;
}
